
cube_petit/map/old/

cube_petit/\.vscode/

*.old

cube_petit/map/cube_petit/old/

*.swp

cube_petit/map/cube_petit/

.vscode/

cube_petit_text_to_speech/MMDAgent_Example-1.6/Voice/mei/

cube_petit_text_to_speech/scripts/open_jtalk.wav

cube_petit_text_to_speech/MMDAgent_Example-1.6.zip
