<?xml version="1.0"?>

<!-- The root link charge_doc_base_link has an inertia specified in the URDF, 
but KDL does not support a root link with an inertia.  
As a workaround, you can add an extra dummy link to your URDF. -->


<robot name="charge_doc" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="charge_doc_base_link"/>
  </joint>
  
  <link name="charge_doc_base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.001"/>
      <geometry>
        <mesh filename="package://cube_petit_gazebo/models/charge_doc/meshes/charge_doc_petit_position.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.001"/>
      <geometry>
        <mesh filename="package://cube_petit_gazebo/models/charge_doc/meshes/charge_doc_petit_collition.obj"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.17452636 -0.00298654 0.07127788" rpy="0 0 0"/>
      <mass value="1.46766774"/>
      <inertia ixx="0.02610496"
               ixy="-0.00024060" iyy="0.02669320"
               ixz="0.00259484" iyz="0.00024104" izz="0.03293260"/>
    </inertial>
  </link>

  <joint name="station_to_ar_joint" type="fixed">
    <parent link="charge_doc_base_link"/>
    <child link="station_ar_link"/>
    <origin xyz="0.176 0 0.17" rpy="0 0 0"/>
  </joint>
  <link name="station_ar_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://cube_petit_gazebo/models/charge_doc/meshes/ArTag012.obj"/>
      </geometry>
    </visual>
  </link>

  <!-- Charging Connector -->
  <joint name="charge_doc_to_connector_joint" type="fixed">
    <parent link="charge_doc_base_link"/>
    <child link="charge_doc_connector_link"/>
    <origin xyz="0.242 0 0" rpy="0 0 0"/>
  </joint>
  <link name="charge_doc_connector_link"/>


  <!-- <joint name="charge_doc_to_base2_joint" type="fixed">
    <parent link="charge_doc_base_link"/>
    <child link="charge_doc_base2_link"/>
    <origin xyz="-0.226 0 -0.005" rpy="0 0 0"/>
  </joint>
  <link name="charge_doc_base2_link"/> -->


  <!-- Gazebo Physical Parameters -->
  <gazebo reference="charge_doc_base_link">
    <!-- <kp>100000.0</kp>
    <kd>100.0</kd>
    <mu1>1000</mu1>
    <maxVel>1.0</maxVel>
    <minDepth>0.0</minDepth>
    <maxContacts>20</maxContacts>
    <selfCollide>true</selfCollide>
    <dampingFactor>0.0</dampingFactor> -->
  </gazebo>

  <gazebo> 
    <!-- Fix station onto the gazebo world -->
    <static>true</static>
    <!-- Publish position topic (which is used in simulation of charging station) -->
    <plugin name="publish_station_pose" filename="libgazebo_ros_p3d.so">
      <frameName>world</frameName>
      <bodyName>charge_doc_base_link</bodyName>
      <topicName>/gazebo/docking_station_simulation/station_pose</topicName>
      <updateRate>30.0</updateRate>
    </plugin>
  </gazebo>

</robot>