<launch>
  <arg name="debug" default="$(optenv CUBE_DEBUG false)"/>
  <!--cube_kit, cuboid or signage -->
  <arg name="robot" default="cube_petit"/>
  <arg name="scan" default="pacecat_link/scan_filtered"/>
  <!-- Navigation requires at least one map.
       In addition, it is sometimes desirable to have a "keepout" map
       which is used for costmaps, but not localization -->
  <arg name="map_file" default="$(find cube_petit)/map/daikaigisitu/map.yaml"/>
  <arg name="map_keepout_file" default="$(find cube_petit)/map/map_keepout.yaml" />
  <arg name="use_keepout" default="false" />
  <param name="map_server/map_file" value="$(arg map_file)" />

<!-- If "costmap_image = true" launch costmap_to_image node -->
  <arg name="costmap_image" default="false" />

  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find cube_petit)/launch/include/move_base.launch.xml" />
  <arg name="amcl_include" default="$(find cube_petit)/launch/include/amcl.launch.xml" />

  <!-- serve up a map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- serve up a map with keepout zones -->
  <group if="$(arg use_keepout)" >
  <node name="map_keepout_server" pkg="map_server" type="map_server" args="$(arg map_keepout_file)" >
    <remap from="map" to="map_keepout" />
    <remap from="static_map" to="static_map_keepout" />
  </node>
  </group>

  <!-- localize the robot -->
  <include file="$(arg amcl_include)">
    <arg name="scan_topic" value="$(arg scan)"/>
  </include>

  <!-- move the robot -->
  <include file="$(arg move_base_include)" >
    <arg if="$(arg use_keepout)" name="map_topic" value="map_keepout" />
    <!--cube_kit, cuboid or signage -->
	  <arg name="robot" value="$(arg robot)"/>
    <arg name="odom_topic" value="diff_drive_controller/odom" />

    <arg name="costmap_image" value="$(arg costmap_image)" />
  </include>

  <!-- <node pkg="cube_navigation" type="save_params.py" name="save_params" required="false" if="$(arg debug)" /> -->

</launch>
