html, body, .outer{
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: none;
}
html, body{
  overflow: hidden;
}
g{
  transform-box: fill-box;
  transform-origin: center;
}

.outer{
  position: absolute;
  display: none;
  z-index: 0;
}
.normal, .happy, .sad, .puzzled{
  background-color: #ecf8fd;
  stroke: #ff7da8;
  fill: #ff7da8;
}

.container{
  width: 768px;
  height: 432px;
  position: absolute;
}

.tear{
  transform-origin: center 0%;
}

.speak {
  transform-origin: center 20%;
  animation: speak 0.2s infinite;
}

@keyframes speak {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, .6);
  }
}
