<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="port" default="/dev/ttyIMU"/>
  <arg name="frame" default="gyro_link"/>
  <arg name="topic" default="/gyro/imu"/>
  <arg name="robot_namespace" default="cube_petit"/>
  <!-- IMU node -->
  <rosparam command="load" file="$(find cube_petit_bringup)/config/imu_witmotion.yaml" />
  <node name="witmotion_imu" pkg="witmotion_ros"  type="witmotion_ros_node" output="screen"/>
  <node name="imu_republish" pkg="topic_tools" type="drop" args="$(arg topic)_raw 1 2 $(arg topic)"/>
  <!-- IMU filter -->
  <include file="$(find cube_petit_bringup)/launch/includes/imu_filters.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="topic" value="$(arg topic)"/>
  </include>
  <!-- IMU diagnostic -->
  <node pkg="cube_diagnostic" type="diagnostic_device.py" name="diagnostic_imu_device" output="log">
    <param name="devicename" value="$(arg port)"/>
  </node>
  <node pkg="cube_diagnostic" type="diagnostic_imu.py" name="diagnostic_imu_topic" output="log">
    <param name="id" value="imu"/>
    <param name="topic" value="$(arg topic)"/>
    <param name="min_publish_rate" value="1"/>
    <param name="max_publish_rate" value="100"/>
  </node>
</launch>
