<?xml version="1.0"?>
<launch>

  <group ns="/rear_camera/rear_camera">
    <!-- launch カメラ -->>
    <!-- <node pkg="uvc_camera" type="uvc_camera_node" name="usb_camera_node">
        <param name="device" type="string" value="/dev/rear_camera"/>
        <param name="pixel_format" value="YUYV"/>
        <param name="camera_frame_id" value="rear_camera"/>
        <param name="io_method" value="mmap"/>
        <param name="frame_id" value="rear_camera_optical_link"/>
        <param name="camera_info_url" type="string" value="file://$(find cube_petit_bringup)/config/sensors/rear_camera/camera.yaml"/> </node>  -->
    <node pkg="usb_cam" type="usb_cam_node" name="usb_cam">
        <param name="device" type="string" value="/dev/rear_camera"/>
        <param name="pixel_format" value="yuyv"/>
        <param name="camera_frame_id" value="rear_camera"/>
        <param name="io_method" value="mmap"/>
        <param name="frame_id" value="rear_camera_optical_link"/>
        <param name="camera_info_url" type="string" value="file://$(find cube_petit_bringup)/config/sensors/rear_camera/camera.yaml"/> -->
    </node>
  </group>

    <!-- ARマーカー Settings --><!-- marker size [cm]-->
    <!-- <arg name="marker_size" default="5.5" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/rear_camera/image_raw" />
    <arg name="cam_info_topic" default="/rear_camera/camera_info" />
    <arg name="output_frame" default="/rear_cameras" /> -->

    <!-- launch AR_TRACK_ALVAR -->
    <!-- <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
    args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error)
          $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" /> -->


</launch>

<!-- v4l2-ctl - - list-devices -->
<!-- [TODO]Cameraのキャリブレーション -->
<!-- https://qiita.com/proton_lattice/items/aa805b28700575ba5ed3 -->


<!-- gisen@gisen:~$ v4l2-ctl -d /dev/video1 - -all
Driver Info (not using libv4l2):
	Driver name   : uvcvideo
	Card type     : USB 2.0 Camera
	Bus info      : usb-0000:00:14.0-2
	Driver version: 4.4.236
	Capabilities  : 0x84200001
		Video Capture
		Streaming
		Extended Pix Format
		Device Capabilities
	Device Caps   : 0x04200001
		Video Capture
		Streaming
		Extended Pix Format
Priority: 2
Video input : 0 (Camera 1: ok)
Format Video Capture:
	Width/Height      : 640/480
	Pixel Format      : 'YUYV'
	Field             : None
	Bytes per Line    : 1280
	Size Image        : 614400
	Colorspace        : sRGB
	Transfer Function : Default
	YCbCr Encoding    : Default
	Quantization      : Default
	Flags             :
Crop Capability Video Capture:
	Bounds      : Left 0, Top 0, Width 640, Height 480
	Default     : Left 0, Top 0, Width 640, Height 480
	Pixel Aspect: 1/1
Selection: crop_default, Left 0, Top 0, Width 640, Height 480
Selection: crop_bounds, Left 0, Top 0, Width 640, Height 480
Streaming Parameters Video Capture:
	Capabilities     : timeperframe
	Frames per second: 30.000 (30/1)
	Read buffers     : 0
                     brightness (int)    : min=-64 max=64 step=1 default=0 value=0
                       contrast (int)    : min=0 max=64 step=1 default=32 value=32
                     saturation (int)    : min=0 max=128 step=1 default=60 value=60
                            hue (int)    : min=-40 max=40 step=1 default=0 value=0
 white_balance_temperature_auto (bool)   : default=1 value=1
                          gamma (int)    : min=72 max=500 step=1 default=100 value=100
                           gain (int)    : min=0 max=100 step=1 default=0 value=0
           power_line_frequency (menu)   : min=0 max=2 default=1 value=1
      white_balance_temperature (int)    : min=2800 max=6500 step=1 default=4600 value=4600 flags=inactive
                      sharpness (int)    : min=0 max=6 step=1 default=2 value=2
         backlight_compensation (int)    : min=0 max=2 step=1 default=1 value=1
                  exposure_auto (menu)   : min=0 max=3 default=3 value=3
              exposure_absolute (int)    : min=1 max=5000 step=1 default=157 value=157 flags=inactive
         exposure_auto_priority (bool)   : default=0 value=1 -->
