<!-- -*- mode: XML -*- -->
<launch>
	<!-- load cube_petit.xacro -->
	<arg name="model" default="$(find cube_petit_description)/urdf/cube_petit_v2.xacro" />
	<param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>

	<!-- [EDIT] topic name for scan -->
	<arg name="scan" default="/pacecat/scan_filtered"/>

	<!-- launch gmapping node and make map -->

	<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" required="true" output="screen">
		<remap from="scan" to="$(arg scan)"/>
		<param name="linearUpdate" value="0.1"/>
		<param name="angularUpdate" value="0.125"/>
		<param name="throttle_scans" value="1"/>
 		<param name="maxUrange" value="20.0"/>
		<param name="maxRange" value="20.0"/>
		<param name="delta" value="0.1"/>
	</node>

	<!-- map convert to image node -->
	<param name="gmapping/map_image/full/compressed/format" value="png" />
	<node name="map_to_image" pkg="hector_compressed_map_transport" type="map_to_image_node" output="screen">
		<remap from="pose" to="robot_pose" />
	</node>

</launch>
